<div class="row" class="checkboxes">
  	<div class="large-12 columns">
	  	<ul class="checkboxes">
            <div class="checkboxFoodCategories">
                <form>
                <select ng-model="foodCategorySelected" ng-change="foodCategorySelect(foodCategories[foodCategorySelected-1])" ng-options="foodCategory.id as foodCategory.name for foodCategory in foodCategories">
                    <option value="">-- choose food category --</option>
                </select>
                <select ng-model="timeSpentSelected" ng-change="timeSpentSelect(timeSpent[timeSpentSelected-1])" ng-options="timeSpentS.id as timeSpentS.name for timeSpentS in timeSpent">
                    <option value="">-- choose time spent --</option>
                </select>
                <select ng-model="difficultySelected" ng-change="difficultySelect(difficulty[difficultySelected-1])" ng-options="difficultyS.id as difficultyS.name for difficultyS in difficulty">
                    <option value="">-- choose difficulty --</option>
                </select>
                <select ng-model="priceSelected" ng-change="priceSelect(price[priceSelected-1])" ng-options="priceS.id as priceS.name for priceS in price">
                    <option value="">-- choose price category --</option>
                </select>
                    <input type="reset">
                    </form>
            </div>
	  	</ul>
  	</div>
</div>

<hr />


<br />
<div class="row fullWidth">
	<div class="large-12 columns">
		<div class="swiper-container">
            <div class="swiper-wrapper">

            <div class="swiper-slide" ng-repeat="recipe in recipes"> 
                <img src="{{recipe[2]}}" />
            </div>

            </div>
        </div>
	</div>
</div>

<script type="text/javascript">
/*======
Use document ready or window load events
For example:
With jQuery: $(function() { ...code here... })
Or window.onload = function() { ...code here ...}
Or document.addEventListener('DOMContentLoaded', function(){ ...code here... }, false)
=======*/




</script>