<div class="row" class="checkboxes">
  	<div class="large-12 columns">
	  	<ul class="checkboxes">
            <div class="checkboxFoodCategories">
                <form>
                <select ng-model="foodCategorySelected" ng-change="foodCategorySelect(foodCategories[foodCategorySelected-1])" ng-options="foodCategory.id as foodCategory.name for foodCategory in foodCategories">
                    <option value="">-- choose food category --</option>
                </select>
                <select ng-model="timeSpentSelected" ng-change="timeSpentSelect(timeSpent[timeSpentSelected-1])" ng-options="timeSpentS.id as timeSpentS.name for timeSpentS in timeSpent">
                    <option value="">-- choose time spent --</option>
                </select>
                <select ng-model="difficultySelected" ng-change="difficultySelect(difficulty[difficultySelected-1])" ng-options="difficultyS.id as difficultyS.name for difficultyS in difficulty">
                    <option value="">-- choose difficulty --</option>
                </select>
                <select ng-model="priceSelected" ng-change="priceSelect(price[priceSelected-1])" ng-options="priceS.id as priceS.name for priceS in price">
                    <option value="">-- choose price category --</option>
                </select>
                    <input type="reset">
                    </form>
            </div>
	  	</ul>
  	</div>
</div>

<hr />


<br />
<div class="row fullWidth" ng-init="getRecipes()">
	<div class="large-12 columns">
		<slick class="slider single-item" id="slick-slider" current-index="index" responsive="breakpoints" 
        slides-to-show=5 slides-to-scroll=5 ng-controller="SlickCtrl" dots=true centerMode=true>
			<div ng-repeat="recipe in recipes">
                <div class="slide-container">
                    <p class="panel dinnerTitle">{{recipe[0]}}</p>
                    <div class="overlay-container">
                        <img class="dinnerImage" src="{{recipe[2]}}"></img>
                        <div class="overlay"><a href="#" class="button tiny round" ng-click="addToList(recipe[0])">+</a></div>
                    </div>
                    <p class="panel dinnerDescription">{{recipe[1]}}</p>
                </div>
			</div>
		</slick>
	</div>
</div>