/*
* Main stylesheet for application
* @author Martin Othamar <martin@othamar.net>
* @version 140926
*/




/* SET PAGE DIMENSIONS  */
body,html{
    height:100%;
    width:100%;
}
.off-canvas-wrap,.inner-wrap{
    height:100%;   
}
.off-canvas-wrap {
	overflow-y: auto;
}
.page{
    height:100%;   
}

.fullWidth {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* NAVBAR PREVIOUSBUTTON STYLESHEET */
.previous {
	display: none;
}


/* MAIN VIEW CHECKBOXES */
ul.checkboxes {
	list-style-type: none; 
	text-align: center;
}
.checkboxes li {
	display: inline-block;
}


/* MAIN VIEW SLIDER */
#slick-slider {
	
}

.slick-prev, .slick-next {
}

.slick-prev:before, .slick-next:before {
	color: black;
}
.slide-container {
	margin-left: 5px;
	margin-right: 5px;
}
.slick-track img {
	border:1px solid #;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;  
}
.slick-track img:hover {
	-moz-box-shadow: 0 0 30px black;
	-webkit-box-shadow: 0 0 30px black;
	box-shadow: 0 0 30px black;
}



/* IMAGE OVERLAY */
.overlay-container {
	position: relative; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
	position: absolute; /* <-- Remove the overlay from normal flow         */
	bottom: 0;          /* <-- Keep the overlay at the bottom of the box   */
	left: 0;            /* <-- Set left and right properties to 0          */
	right: 0;           /*     In order to expand the overlay horizontally */
	width: 25px;
	height: 30px;

	padding: 0.4rem;
	background-color: rgba(255, 255, 255, 0.7);
}


/* DINNER TITLE */
.dinnerTitle {
	margin-bottom: 0px;
}


/* CHECKBOXES */
.checkboxFoodCategories input[type="checkbox"] {
    display: none;
}
.checkboxFoodCategories input[type="checkbox"]+label {    
    background: url('http://renegadeox.com/img/off.png') no-repeat;
    height:17px;
    padding-left: 18px;
}
.checkboxFoodCategories input[type="checkbox"]:checked + label {
    background: url('http://renegadeox.com/img/on.png')  no-repeat;
    height:17px;
}