/*
* Main stylesheet for application
* @author Martin Othamar <martin@othamar.net>
* @version 140926
*/




/* SET PAGE DIMENSIONS  */
body,html{
    height:100%;
    width:100%;
}
.off-canvas-wrap,.inner-wrap{
    height:100%;   
}
.off-canvas-wrap {
	overflow-y: auto;
}
.page{
    height:100%;   
}

.fullWidth {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* NAVBAR PREVIOUSBUTTON STYLESHEET */
.previous {
	display: none;
}


/* MAIN VIEW CHECKBOXES */
ul.checkboxes {
	list-style-type: none; 
	text-align: center;
}
.checkboxes li {
	display: inline-block;
}



...
/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
  width: 500px;
  height: 200px;
}



/* DINNER TITLE */
.dinnerTitle {
	margin-bottom: 0px;
}


/* CHECKBOXES */
.checkboxFoodCategories input[type="checkbox"] {
    display: none;
}
.checkboxFoodCategories input[type="checkbox"]+label {    
    background: url('http://renegadeox.com/img/off.png') no-repeat;
    height:17px;
    padding-left: 18px;
}
.checkboxFoodCategories input[type="checkbox"]:checked + label {
    background: url('http://renegadeox.com/img/on.png')  no-repeat;
    height:17px;
}